body {
    margin: 0;
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.home-container {
    max-width: 600px;
    margin: auto;
    padding-top: 50px;
}

/* POST */
.post {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #393232;
}

.post:last-child {
    border-bottom: none;
}

.post-delete-form {
    position: absolute;
    top: 0;
    right: 0;
}

.post-delete-button {
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
    font-size: 30px;
    border: none;
    background-color: inherit;
}

.post-delete-button:hover {
    opacity: 1;
    color: rgb(255, 255, 255);
}

.post-id {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.post-tytul {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.new-post-link {
    text-transform: uppercase;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.new-post-link:hover {
    opacity: 1;
    color: rgb(255, 255, 255);
}

/* POST FORM */
.powrot-link {
    text-transform: uppercase;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.powrot-link:hover {
    opacity: 1;
    color: rgb(255, 255, 255);
}

.post-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.post-form {
    width: 600px;
}

.post-tytul-input {
    background-color: inherit;
    width: 100%;
    font-size: 30px;
    color: white;
    border: none;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #2c2c2c;
}

.post-tytul-input:focus {
    outline: none;
}

.post-tresc-input {
    background-color: inherit;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    resize: none;
}

.post-tresc-input:focus {
    outline: none;
}

.post-submit {
    width: 100%;
    border: none;
    color: rgb(161, 161, 161);
    font-weight: bold;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: #2c2c2c;
    cursor: pointer;
    transition: 0.2s;
}

.post-submit:hover {
    background-color: #393232;
    color: rgb(255, 255, 255);
}
